@model List<Amazon.S3.Model.S3Object>;


<div>
    <a asp-action="UploadMovie" asp-controller="Movie">Add a Movie</a>
    <ul>
        @foreach(var obj in Model)
            {
                <li>
                    <a asp-action="Page" asp-controller="Movie" asp-route-key="@obj.Key">@obj.Key</a> 
                    <a href="/movie/delete/@obj.Key">Delete</a>
                </li>
            }
    </ul>
</div>