@model List<Amazon.S3.Model.S3Object>;


<div>
    <a asp-action="UploadMovie" asp-controller="Movie">Upload a movie/video</a>
    <div class="movie-list-container">
        @foreach(var obj in Model)
            {
                <div class="grid-item">
                    <a asp-action="Page" asp-controller="Movie" asp-route-key="@obj.Key">
                        <h4>@obj.Key</h4>
                        <video>
                            <source src="https://moviescomp306.s3.ca-central-1.amazonaws.com/@obj.Key#t=0.1"/>
                        </video>
                    </a> 
                    <a href="/movie/delete/@obj.Key">Delete</a>
                </div>
            }
    </div>
</div>