


@model String

<div class="movie-container">
    <video src="https://moviescomp306.s3.ca-central-1.amazonaws.com/@Model" controls></video>
</div>

<form>
    <input type="text" />
</form>
<div class="comment-section">
    <div>
        <p>Comment....</p>
    </div>
    <div>
        <p>Comment....</p>
    </div>
    <div>
        <p>Comment....</p>
    </div>
</div>
