@model Group31_COMP306_Assignment3.Models.FileUploadForm

<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="UploadFile"></label>
        </dt>
        <dd>
            <input asp-for="UploadFile" type="file"/>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload">
</form>

